@model Entity.Product

<div asp-validation-summary="All" class="text-danger"></div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Yeni Ürün Bilgileri</h3>
    </div>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Ürün Adı</label>
                        <input asp-for="Name" class="form-control" placeholder="Ürün adını girin">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ürün Görseli</label>
                        <div class="custom-file">
                            <input type="file" name="imageFile" class="custom-file-input" id="customFile" @* accept=".jpg,.jpeg,.png,.webp" *@>
                            <label class="custom-file-label" for="customFile">Dosya Seç...</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fiyat</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">₺</span>
                            </div>
                            <input asp-for="Price" type="number" step="0.01" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Stok Adedi</label>
                        <input asp-for="Stock" type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-4 pt-2">
                        <div class="custom-control custom-switch">
                            <input asp-for="IsActive" type="checkbox" class="custom-control-input" id="isActiveSwitch">
                            <label class="custom-control-label" for="isActiveSwitch">Ürün Satışta mı?</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Kategori</label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Kategoriler, "ID", "Name"))">
                    <option value="">-- Kategori Seçiniz --</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ürün Açıklaması</label>
                <textarea asp-for="Description" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
            <a asp-action="Index" class="btn btn-default float-right">Geri Dön</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}